*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/detekt.xml
/.idea/compiler.xml
/.idea/kotlinc.xml
/.idea/misc.xml
/.idea/vcs.xml
/.idea/inspectionProfiles/
/sample-baidu/release/
/sample-gaode/release/
/sample-huawei/release/
/sample-tencent/release/
/sample-google/release/
/sample-baidu/debug/
/sample-gaode/debug/
/sample-huawei/debug/
/sample-tencent/debug/
/sample-google/debug/

