<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.melody.map.myapplication">

    <!--允许访问网络，必选权限-->
    <uses-permission android:name="android.permission.INTERNET" />

    <!--允许获取粗略位置，若用GPS实现定位小蓝点功能则必选-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!--用于提高GPS定位速度-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <!--允许获取网络状态，用于网络定位，若无gps但仍需实现定位小蓝点功能则此权限必选-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--允许获取wifi网络信息，用于网络定位，若无gps但仍需实现定位小蓝点功能则此权限必选-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!--允许获取wifi状态改变，用于网络定位，若无gps但仍需实现定位小蓝点功能则此权限必选-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!--允许写入扩展存储，用于数据缓存，若无此权限则写到私有目录-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <application
        android:allowBackup="true"
        android:allowNativeHeapPointerTagging="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <!--高德地图ApiKey-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="36d4003d24d412c3f0da89aab1a1911a" />

        <!--使用SDK默认的定位，需要使用此SDK服务-->
        <service android:name="com.amap.api.location.APSService"/>


        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="com.melody.petal.map_sample.initializer.AppDataInitStartup"
                android:value="androidx.startup" />
        </provider>


        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.MyApplication">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Map3dActivity" android:exported="false"/>

        <activity android:name=".BasicFeatureActivity" android:exported="false"/>

        <activity android:name=".DragDropSelectPointActivity" android:exported="false"/>

        <activity android:name=".SmoothMoveActivity" android:exported="false"/>

        <activity android:name=".LocationTrackingActivity" android:exported="false"/>

        <activity android:name=".OverlayActivity" android:exported="false"/>

        <activity android:name=".RoutePlanActivity" android:exported="false"/>

        <activity android:name=".MultiPointOverlayActivity" android:exported="false"/>

        <activity android:name=".MarkerAnimationActivity" android:exported="false"/>

        <activity android:name=".MovementTrackActivity" android:exported="false"/>

        <activity android:name=".ClusterEffectActivity" android:exported="false"/>

    </application>

</manifest>